#ignore .RProj.user folder and R history file
RWorkspace/.Rproj.user/
RWorkspace/.Rhistory
RWorkspace/CheatSheets/
*.RData
RWorkspace/WaterAccounts.html
RWorkspace/WaterAccounts.nb.html
RWorkspace/WaterAccounts.nb.html
RWorkspace/ShinySandbox/.RProj.user/*

NoteBooks/.ipynb_checkpoints/*
Python/Data/UseData.csv